body {
	background-color: #6b6b06;
}

/* Navbar */

.navbar-brand {
	position: relative;
}

#logo {
	width: 50px;
}

.moviestar-title {
	color: #fff;
	position: absolute;
	bottom: -2px;
	font-size: 30px;
	left: 55px;
	font-weight: bold;
}

#main-navbar {
	background-color: #121212;
}

#search-form {
	margin: 0 auto;
	background-color: #fff;
	border-radius: 5px;
	width: 50%;
	margin-left: 180px;
}
